.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.ellipsis {
  white-space: nowrap;
  /* 1 */
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden; }

@media (min-width: 1024px) {
  #header .nav-opener {
    display: none; } }

@media (max-width: 1750px) {
  .banner-sec .img-holder {
    width: 812px;
    padding: 36px 73px 55px; } }

@media (max-width: 1450px) {
  .banner-sec {
    padding: 175px 0 160px; }
    .banner-sec .img-holder {
      width: 692px;
      padding: 36px 94px 55px;
      margin: 0 0 0 -78px; }
  .content-sec {
    padding-top: 36px; }
    .content-sec .content-holder .content-block {
      padding: 52px 47px 0 50px; }
  .application-sec {
    margin: -330px 0 0;
    padding: 400px 0 0;
    min-height: 1200px; }
    .application-sec .img-holder {
      width: 27.5%; } }

@media (max-width: 1280px) {
  .banner-sec {
    padding: 175px 0 0;
    min-height: 770px; }
    .banner-sec .img-holder {
      width: 642px;
      padding: 36px 84px 55px; }
  .content-sec .content-holder {
    margin: 0 0 120px; }
  .application-sec {
    margin: -240px 0 0;
    padding: 350px 0 0;
    min-height: 1147px; }
  .contact-sec .contact-block {
    right: 11%; } }

@media (max-width: 1199px) {
  .logo {
    width: 150px; }
  #nav {
    margin: 0; }
  .banner-sec {
    padding: 165px 0 72px;
    min-height: 620px; }
    .banner-sec .caption {
      padding-top: 0;
      font-size: 15px;
      line-height: 25px; }
    .banner-sec .heading {
      font-size: 40px;
      line-height: 50px; }
    .banner-sec .img-holder {
      width: 550px;
      padding: 39px 99px 57px;
      margin: 0 0 0 -68px; }
  .feature-sec .tabset li {
    width: 212px; }
  .feature-sec .tabset a {
    padding: 40px 0; }
  .content-sec {
    padding-top: 0; }
    .content-sec .content-holder {
      margin: 0 0 80px; }
  .progress-bar {
    width: 68%; }
    .progress-bar li:nth-child(2) {
      margin: 0 0 48px 96px; }
    .progress-bar li:nth-child(3) {
      margin: 0 0 49px 123px; }
    .progress-bar li:nth-child(4) {
      margin: 0 0 49px 155px; }
  .application-sec {
    padding: 270px 0 0;
    min-height: 1017px; }
    .application-sec .img-holder {
      width: 32%; } }

@media (max-width: 1023px) {
  #nav {
    width: 100%;
    position: absolute;
    left: -100%;
    top: 60px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    margin: 0;
    z-index: 4;
    padding: 15px 15px 5px;
    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
    background: -webkit-linear-gradient(45deg, #1c80df 0%, #7cd1f5 80%, #7cd1f5 100%);
    background: -o-linear-gradient(45deg, #1c80df 0%, #7cd1f5 80%, #7cd1f5 100%);
    background: linear-gradient(45deg, #1c80df 0%, #7cd1f5 80%, #7cd1f5 100%); }
    #nav ul li {
      float: none;
      margin: 0 0 10px; }
  .banner-sec {
    padding: 115px 0 40px; }
    .banner-sec .caption {
      padding-top: 0;
      padding-right: 50px;
      margin-bottom: 30px; }
      .banner-sec .caption p {
        margin: 0 0 30px; }
    .banner-sec .heading {
      margin: 0 0 20px; }
    .banner-sec .img-holder {
      width: 100%;
      padding: 39px 89px 57px;
      margin: 0; }
  .feature-sec {
    padding-top: 60px; }
    .feature-sec .heading2 {
      margin: 0 0 56px; }
    .feature-sec .tabset {
      margin: 0 0 49px; }
      .feature-sec .tabset li {
        width: 157px; }
      .feature-sec .tabset .heading3 {
        font-size: 15px; }
      .feature-sec .tabset svg {
        width: 60px;
        height: 60px; }
    .feature-sec .tabset2 {
      margin: 0 0 57px; }
    .feature-sec .tab-content2 li {
      margin: 0 0 20px; }
  .heading2 {
    font-size: 40px; }
  .heading5 {
    font-size: 20px;
    margin: 0 0 20px; }
  .content-sec {
    padding-bottom: 46px; }
    .content-sec .content-holder .content-block {
      padding: 0 47px 0 50px; }
  .application-sec {
    padding: 220px 0 0;
    margin: -190px 0 0;
    min-height: 897px; }
    .application-sec .img-holder {
      width: 44%; }
  .progress-bar {
    width: 56%;
    padding: 0 0 0 20px; }
    .progress-bar li {
      width: 382px;
      margin: 0 0 20px; }
      .progress-bar li:nth-child(2), .progress-bar li:nth-child(3), .progress-bar li:nth-child(4) {
        margin: 0 0 20px; }
      .progress-bar li .txt-holder {
        width: 70%;
        font-size: 18px; }
      .progress-bar li .icon-holder {
        width: 30%; }
    .progress-bar .bar {
      width: 100%; }
  .partner-sec {
    padding-bottom: 0; }
  #footer {
    padding: 80px 0 53px; }
    #footer .logo {
      margin: 0 0 15px; }
    #footer .txt-holder {
      margin: 0 0 20px; } }

@media (max-width: 767px) {
  .heading2 {
    font-size: 30px;
    line-height: 40px; }
  #header .nav-opener {
    margin: 0;
    line-height: 30px; }
  .banner-sec {
    background: none;
    padding: 95px 0 40px; }
    .banner-sec .caption {
      padding-right: 15px; }
    .banner-sec .heading {
      font-size: 30px;
      line-height: 40px; }
    .banner-sec .btn-primary {
      padding: 12px 17px;
      margin: 0; }
      .banner-sec .btn-primary:first-child {
        padding: 12px 21px; }
    .banner-sec .img-holder {
      padding: 0; }
  .feature-sec {
    padding-bottom: 12px; }
    .feature-sec .tabset li {
      width: 47%;
      margin: 0 0 0 15px; }
      .feature-sec .tabset li:nth-child(3) {
        margin: 0; }
    .feature-sec .tabset2 {
      margin: 0; }
      .feature-sec .tabset2 li {
        margin: 0 10px 30px 0; }
    .feature-sec .tab-content2 li {
      width: 100%;
      padding: 0;
      margin: 0 0 20px; }
  .content-sec .content-holder {
    margin: 0 0 30px; }
    .content-sec .content-holder:nth-child(3) .content-block {
      padding: 30px 0 0 56px; }
    .content-sec .content-holder:nth-child(3) .img-holder {
      padding: 0; }
    .content-sec .content-holder:nth-child(4) .content-block {
      padding: 0 0 0 56px; }
    .content-sec .content-holder .content-block {
      width: 100%;
      padding: 0 0 0 56px;
      margin: 0 0 30px; }
    .content-sec .content-holder .img-holder {
      width: 100%;
      padding: 0; }
  .application-sec {
    background: none;
    padding: 0;
    margin: 0; }
    .application-sec .img-holder {
      width: 290px;
      float: none;
      margin: 0 auto 30px; }
  .progress-bar {
    width: 100%;
    padding: 0; }
    .progress-bar li {
      width: 100%; }
      .progress-bar li .txt-holder {
        width: 66%;
        font-size: 13px;
        padding: 20px 15px; }
      .progress-bar li .icon-holder {
        width: 34%; }
        .progress-bar li .icon-holder svg {
          width: 50px;
          height: 50px; }
        .progress-bar li .icon-holder .text {
          font-size: 13px; }
    .progress-bar .bar {
      margin: 15px 0 0; }
  .partner-sec .partner-slider {
    padding: 40px 0; }
  .contact-sec {
    padding-bottom: 30px; }
    .contact-sec iframe {
      height: 300px;
      margin: 0 0 20px; }
    .contact-sec .contact-block {
      position: static;
      width: 290px;
      margin: 0 auto;
      padding: 30px 20px; }
  #footer {
    padding: 60px 0; }
    #footer .col {
      width: 100%;
      margin: 0 0 20px; }
    #footer .f-nav li {
      padding: 15px 0 0; }
    #footer .social-networks {
      padding: 0 0 30px; } }
